@import 'mixins';

.card{
    width: 250px;
    margin: 0 10px 50px;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.2s ease;

    &:hover{
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    
    img{
        width: 230px;
        height: 200px;
        margin: 10px;
        @include showPointer;
    }

    h3,p{
        margin: 15px 0;
    }

    h3{
        font-size: 1.1rem;
    }

    p{
        @include fontStyle($textColor,0.9rem,500);
    }

    .card-body{
        margin: 25px 20px 15px;
    }
    .card-footer{
        @include flexBox(space-between,center);
        margin-top : 35px;
        a{
            color: $primaryColor;
        }

        .buttons-container{
            @include flexBox(space-between,center);
            text-align: center;

            span{
               @include fontStyle($primaryColor,1.2rem,700);
               margin-right: 6px;
               
            }
        }

        .card-btn,.add-to-cart{
            background-color: $primaryColor;
            color: #fff;
            border: none;
            @include showPointer;
            border-radius: 4px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        .add-to-cart{
            font-size: 0.9rem;
            height: 30px;
            width: 120px;
        }

        .card-btn{
            height: 30px;
            width: 30px;
            @include flexBox(center,center);
            @include fontStyle(#fff,26.6px,bold);
            &:nth-child(1){
                margin-right: 8px;
            }
            
            img{
                height: 20px;
                width: 20px;
            }
        }
    }
}